/* =======CONF GERAL======== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --principal-color: hsl(50, 96%, 48%);
    --color-text: hsl(215, 17%, 21%);
    --color-titulos: hsl(61, 92%, 40%);

    --extra-color1: hsl(216, 97%, 37%);
    --extra-color2: hsl(203, 68%, 45%);
    --extra-color3: hsl(203, 39%, 25%);

    --nav-height:7.2rem;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;

    text-align: center;
}

.box-content {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

/* =======HEADER======== */
header {    
    margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
    content: "";
    width: 100vw;
    height: calc(90rem + var(--nav-height));
    background-color: azure;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header h1 {
    font-size: 3.4rem;
    line-height: 130%;
    color: black;
    margin-bottom: 2.4rem;
}

spam {
    color: var(--principal-color);
}

header h4 {
    font-size: 1.4rem;
    color: var(--extra-color3);
    margin-bottom: 1.6rem;

}

header p {
    font-size: 1.6 rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--color-text);
    margin-bottom: 3.2rem;
}

header button {
    background: var(--principal-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    border: none;
    border-radius: 1rem;
    margin-bottom: 6rem;

    height: 4rem;
    width: 22rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

header img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 -1rem;
}

.stats {
    width: 28rem;
    padding-block: 4rem;
    border-radius: 10px;

    margin-inline: auto;
    background: var(--extra-color2);
    border: 1px solid black;

    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

.stat h3 {
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--color-text);
    line-height: 130%;

    margin-bottom: 0.4rem;
}

.stat p {
    margin: 0;
    color: #fff;
    line-height: 150%;
    font-size: 1.6rem;
}

/* =======NAVIGATION======== */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--nav-height);
    

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}